Package: com.nathaningraham.fsvideoonlymessages
Name: FSVideoOnlyMessages
Depends: mobilesubstrate
Architecture: iphoneos-arm
Description: Fullscreen video attachments in messages app.
Maintainer: Nathan Ingraham <nathanringraham@gmail.com>
Author: Nathan Ingraham <nathanringraham@gmail.com>
Section: Tweaks
Version: 1.0.2-6+debug
Installed-Size: 132
